In [36]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [37]:
data = pd.read_csv(r"D:..tsv", sep ='\t')
data.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [38]:
data.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [39]:
data['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [40]:
ham = data[data['label'] == 'ham']
ham

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
6      ham  Even my brother is not like to speak with me. ...      77      2
...    ...                                                ...     ...    ...
5565   ham                                       Huh y lei...      12      3
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[4825 rows x 4 columns]

In [41]:
spam = data[data['label'] == 'spam']
spam

     label                                            message  length  punct
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
5     spam  FreeMsg Hey there darling it's been 3 week's n...     147      8
8     spam  WINNER!! As a valued network customer you have...     157      6
9     spam  Had your mobile 11 months or more? U R entitle...     154      2
11    spam  SIX chances to win CASH! From 100 to 20,000 po...     136      8
...    ...                                                ...     ...    ...
5537  spam  Want explicit SEX in 30 secs? Ring 02073162414...      90      3
5540  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...     158      5
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...     160      8
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...     147      3
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8

[747 rows x 4 columns]

In [42]:
ham.shape, spam.shape

((4825, 4), (747, 4))

In [43]:
ham = ham.sample(spam.shape[0])
ham.shape, spam.shape

((747, 4), (747, 4))

In [44]:
data = ham.append(spam, ignore_index = True)
data.head(2)

  label                                            message  length  punct
0   ham  Still in the area of the restaurant. Ill try t...      62      1
1   ham  Total video converter free download type this ...      64      2

In [45]:
data.shape

(1494, 4)

In [54]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(data['message'],data['label'], test_size = 0.2, random_state = 0)

In [55]:
X_train

465     I'm nt goin, got somethin on, unless they meet...
1229    Do you want a New Nokia 3510i Colour Phone Del...
1400    Bored housewives! Chat n date now! 0871750.77....
1017    Call from 08702490080 - tells u 2 call 0906635...
425     If you were/are free i can give. Otherwise nal...
                              ...
763     Your free ringtone is waiting to be collected....
835     XCLUSIVE@CLUBSAISAI 2MOROW 28/5 SOIREE SPECIAL...
1216    Dorothy@kiefer.com (Bank of Granite issues Str...
559              As in i want custom officer discount oh.
684                    You've always been the brainy one.
Name: message, Length: 1195, dtype: object

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)
#Y_train = vectorizer.transform(Y_train)

In [57]:
from sklearn.svm import SVC
clf = SVC(C =1000, gamma = 'auto')
clf.fit(X_train, Y_train)

SVC(C=1000, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [29]:
#from sklearn.pipeline import Pipeline

#lf = Pipeline([('tfidf', TfidfVectorizer()), ('clf', SVC(C=1000, gamma ='auto'))])
#clf.fit(X_train, Y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 SVC(C=1000, cache_size=200, class_weight=None, coef0=0.0,
                     decision_function_shape='ovr', degree=3, gamma='auto',
                     kernel='rbf', max_iter=-1, probability=False,
                     random_state=None, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [58]:
Y_predict = clf.predict(X_test)

In [59]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
confusion_matrix(Y_test, Y_predict)

array([[149,   2],
       [  8, 140]], dtype=int64)

In [60]:
print( " The accuracy level is =", accuracy_score(Y_test, Y_predict)*100, "%")

 The accuracy level is = 96.65551839464884 %

In [67]:
clf.predict(vectorizer.transform(['Hello, I am Amitesh Pandey']))

array(['ham'], dtype=object)

In [69]:
clf.predict(vectorizer.transform(['Cogratulation ! you have won a lottery']))

array(['spam'], dtype=object)

In [35]:
clf.predict(['Congratulations ! you have won a free ticket to USA'])

array(['spam'], dtype=object)